#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-size: 130%;
}

.header-menu ul,
.footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-menu ul li a,
.footer ul li a {
	padding: 10px 20px;
	text-transform: uppercase;
	margin: 2px 4px;
	border-radius: 4px;
	background-color: #eee;
	color: #000;
}

.header-menu ul li a:hover,
.header-menu ul li a.active,
.footer ul li a:hover,
.footer ul li a.active {
	background-color: #000;
	color: #eee;
}

.main {
	padding: 0 0 40px 0;
}
